---
---
<footer class="footer-container">
    <div class="header-logo">
        <img src="/images/single-logo.png" alt="logo" width="150px"/>
        <h4>SLITBIT</h4>
      </div>
      <div class="footer-options-container">
        <div class="footer-options">
            <a href="#home" class="nav-link active">Inicio</a>
            <a href="#about" class="nav-link">Sobre Nosotros</a>
            <a href="#services" class="nav-link">Servicios</a>
            <a href="#team-section" class="nav-link">Equipo</a>
        </div>
        <div class="footer-options">
            <a href="#projects" class="nav-link">Proyectos</a>
            <a href="#contact" class="nav-link">Contacto</a>
        </div>
        
      
      </div>
      <div class="footer-copyright">
        <p>©SLITBIT Todos los derechos reservados</p>
      </div>

</footer>