---
import Light from "./utils/Light.astro";
import { ProjectDisplay, ProjectsData } from "./utils/ProjectDisplay.component";
---

<section class="projects-made" id="projects">
  <Light color="rgba(55, 0, 255, 0.6)" x={0} y={30} width={130} height={50} />
  <h2>Proyectos realizados</h2>
  <div class="projects-made-container">
    <div class="projects-made-container-item">
      {ProjectsData.map((project) => (
       <ProjectDisplay client:only="react" data={project} />

      ))}
      
    </div>
  </div>
</section>
