---
import ArrowIcon from "./utils/ArrowIcon.component.astro";
import Light from "./utils/Light.astro";
---

<section class="services" id="services">
  <div class="custom-shape-divider-bottom-1738829805">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"
      ></path>
    </svg>
  </div>

  <div class="services-container">
    <div class="services-title">
      <Light color="rgba(255, 19, 205, 0.9)" x={0} y={-30} />
      <h2>Servicios</h2>
    </div>

    <div class="services-section">
      <button id="prev-button-services"
        ><ArrowIcon direction="0" color="white" size="1" /></button
      >
      <div class="services-card" id="card-0">
        <h3>Desarrollo web y mobile</h3>
        <div class="services-card-description">
          <p>
            Tenemos amplia experiencia en el diseño y desarrollo web, plasmamos
            tus ideas y les damos forma
          </p>
          <img src="https://img.freepik.com/foto-gratis/programador-teletrabajo-que-disena-desarrolla-software-utilizando-tableta_482257-98295.jpg?t=st=1743968472~exp=1743972072~hmac=a661a5794bcf0b85a217f95083e148cd76c427ef12d41ea4b4c92ef3e6448fa8&w=740" loading="lazy" />
        </div>
      </div>
      <div class="services-card" id="card-1">
        <h3>Desarrollo de software</h3>
        <div class="services-card-description">
          <p>Desarrollamos todo tipo de aplicaciones para windows</p>
          <img src="https://img.freepik.com/foto-gratis/guy-muestra-documento-nina-grupo-jovenes-autonomos-oficina-conversando-trabajando_146671-13569.jpg?t=st=1743968440~exp=1743972040~hmac=311be41cf6817447b899029b1b86dbd83338337929a532222fafb215234e680f&w=996" loading="lazy" />
        </div>
      </div>
      <div class="services-card" id="card-2">
        <h3>Bases de datos y APIs</h3>
        <div class="services-card-description">
          <p>Tenemos experiencia en el desarrollo de bases de datos y APIs</p>
          <img src="https://img.freepik.com/foto-gratis/fotografia-lateral-editor-codigo-que-utiliza-react-js_181624-61842.jpg?t=st=1743968385~exp=1743971985~hmac=f8d1d1809c90ebab0e2b50bd22067ed3e8f4db9fce965acde62b93e080b3a5c1&w=996" loading="lazy" />
        </div>
      
      </div>
      <button id="next-button-services"
      ><ArrowIcon direction="180" color="white" size="1" /></button
    >
    </div>
  </div>

  <div class="custom-shape-divider-top-1738829771">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"
      ></path>
    </svg>
  </div>
</section>

<script>
  let index = 1;
  const cards = document.querySelectorAll(".services-card");
  const prevButton = document.getElementById("prev-button-services");
  const nextButton = document.getElementById("next-button-services");
  const windowWidth = window.innerWidth;

  if (windowWidth < 600) {
    cards.forEach((card, idx) => {
      if (idx === 1) {
        card.classList.add("active");
      }
    });
  }

  function changeIndex(newIndex: number) {
    index = newIndex;
    updateActiveCard();
  }

  function updateActiveCard() {
    cards.forEach((card, idx) => {
      if (idx === index) {
        card.classList.add("active");
      } else {
        card.classList.remove("active");
      }
    });
  }

  const servicesSection = document.getElementById("services");

const observer = new IntersectionObserver(
  (entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        startAutoSlide();
      } else {
        stopAutoSlide();
      }
    });
  },
  { threshold: 0.5 }
);

observer.observe(servicesSection as Element);

let intervalId : number | null = null;

function startAutoSlide() {
  stopAutoSlide(); // prevent duplicates
  intervalId = setInterval(() => {
    index = (index + 1) % cards.length;
    updateActiveCard();
  }, 5000);
}

function stopAutoSlide() {
  if (intervalId) {
    clearInterval(intervalId);
    intervalId = null;
  }
}

  cards.forEach((card, idx) => {
    card.addEventListener("click", () => changeIndex(idx));
  });

  nextButton?.addEventListener("click", () => {
    index = (index + 1) % cards.length;
    updateActiveCard();
  });

  prevButton?.addEventListener("click", () => {
    index = (index - 1 + cards.length) % cards.length;
    updateActiveCard();
  });

  updateActiveCard();
</script>
