---
import Light from "./utils/Light.astro";
import { TechnologiesContainer } from "./utils/Technologies.component";
---

<section id="technologies">
    <Light color="rgba(144, 0, 255, 0.8)" x={60} y={-40} />
    
    <TechnologiesContainer client:load />
    
</section>
